<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'learning_logs/base.html' %}
{% load bootstrap3 %}
{% block header %}
    <h2>添加新内容</h2>
{% endblock header %}
{% block content %}
        <h3>
          <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
        </h3>
<form action="{% url 'learning_logs:new_entry' topic.id %}" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button name="submit" class="btn btn-btn-primary">添加</button>
</form>
{% endblock content %}
</body>
</html>